@import './custom-properties.css';

@font-face {
  font-family: "The Broadband";
  src: url("../fonts/the-broadband.woff2");
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

img {
  max-width: 100%;
}

p {
  margin: 0 0 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  background: var(--color-white);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    // justify-content: center;

    li {
      margin: 0 5px;
    }
  }
}

button {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 13px;
  padding: 8px 25px 9px;
}

.swiper-pagination-bullet-active {
  background: #000 !important;
}

.index-container {
  padding: 100px 0 100px;

  @media (min-width: 900px) {
    padding-top: 300px;
  }
}


// Lil big man slideshow
.lbm-slideshow {
  position: relative;
  background-color: black;
  height: 900px;
  max-height: 100vh;
  display: flex;
  align-items: center;

  .swiper-container {
    height: 100%;
  }

  .swiper-wrapper {
    align-items: center;
    transition-timing-function: cubic-bezier(.31,.3,.06,.93);
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: white;
  }

  .slide-image-wrap {
    &:first-child {
      img {
        margin-left: auto;
      }
    }

    &:last-child {
      img {
        margin-right: auto;
      }
    }
  }

  img {
    display: block;
    height: 100%;
    object-fit: contain;
  }

  // .swiper-pagination-bullet {
  //   background: #bbb !important;
  // }
  // .swiper-pagination-bullet-active {
  //   background-color: #686868 !important;
  // }

  .status {
    font-size: 13px;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}
