.title {
  font-family: 'The Broadband';
  text-align: center;
  font-size: 90px;
  line-height: 0.85;
  margin-bottom: 40px;
  font-weight: normal;
}

.top {
  margin-bottom: 60px;

  @media (min-width: 700px) {
    display: flex;
  }
}

.description {
  margin: 150px 0 300px;

  @media (min-width: 700px) {
    margin: 0;
    padding-left: 30px;
  }
}