.logo {
  width: 150px;
  margin: 40px 0 30px;
}

.homeLink {
  margin: 20px 0;
}

.nav {
  margin: 15px 0 0;

  li {
    margin: 0 20px;
  }

  a {
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
}

.handwriting {
  display: block;
  width: 500px;
  max-width: 75vw;
  margin: 25vh 0 25vh auto;
}