.el {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'The Broadband';
  font-size: 100px;
  text-transform: lowercase;

  @media (min-width: 800px) {
    font-size: 150px;
  }

  opacity: 0;
}

.elMounted {
  transition: opacity 1200ms cubic-bezier(0.43, 0.18, 0.6, 0.93) 500ms;
  opacity: 1;
}

.text {
  @media (max-width: 599px) {
    transform: translateY(-50px);
  }
}