.el {
  padding: 60px 0;
  text-align: center;
  overflow: hidden;
}

.image {
  max-width: 800px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.slide {
  padding: 0 10px;

  @media (min-width: 700px) {
    padding: 0 40px; // ??
  }
}

.swiperWrapper {
  // margin-left: -45vw;
  // margin-right: -45vw;

  // @media (min-width: 700px) {
  //   margin-left: -20vw;
  //   margin-right: -20vw;    
  // }
}